@model Resume.Application.DTOs.Site.SinglePageDTO


@{
    ViewData["Title"] = "Index";
}

<!-- banner -->
<div class="w3-banner-top">
	<div class="agileinfo-dot">
		<div class="w3layouts_menu">
			<nav class="cd-stretchy-nav edit-content">
				<a class="cd-nav-trigger" href="#0"> Menu <span aria-hidden="true"></span> </a>
				<ul>
					<li><a href="#home" class="scroll"><span>Home</span></a></li>
					<li><a href="#about" class="scroll"><span>About</span></a></li>
					<li><a href="#experiences" class="scroll"><span>Experiences</span></a></li>
					<li><a href="#skills" class="scroll"><span>Skills</span></a></li>
					<li><a href="#projects" class="scroll"><span>Projects</span></a></li>
					<li><a href="#contact" class="scroll"><span>Contact</span></a></li>
				</ul>
				<span aria-hidden="true" class="stretchy-nav-bg"></span>
			</nav>
		</div>

		<div class="w3-banner-grids">
			<div class="col-md-6 w3-banner-grid-left">
				<div class="w3-banner-img">
					<img src=@Model.PersonalInformationDTO.ProfilePicPath alt="img">

					<h3 class="test">@Model.PersonalInformationDTO.FName @Model.PersonalInformationDTO.LName</h3>
					<p class="test">@Model.PersonalInformationDTO.JobTitle</p>
				</div>
			</div>
			<div class="col-md-6 w3-banner-grid-right">
				<div class="w3-banner-text">
					<h3>@Model.PersonalInformationDTO.DescriptionTitle</h3>
					<p>@Model.PersonalInformationDTO.Description</p>
				</div>
				<div class=" w3-right-addres-1">
					<ul class="address">
						<li>
							<ul class="agileits-address-text ">
								<li class="agile-it-adress-left"><b>D.O.B</b></li>
								<li><span>:</span>@Model.PersonalInformationDTO.birthdate.Date</li>
							</ul>
						</li>
						<li>
							<ul class="agileits-address-text">
								<li class="agile-it-adress-left"><b>PHONE</b></li>
								<li><span>:</span>@Model.PersonalInformationDTO.Phone</li>
							</ul>
						</li>
						<li>
							<ul class="agileits-address-text">
								<li class="agile-it-adress-left"><b>ADDRESS</b></li>
								<li><span>:</span>@Model.PersonalInformationDTO.Address</li>
							</ul>
						</li>
						<li>
							<ul class="agileits-address-text">
								<li class="agile-it-adress-left"><b>E-MAIL</b></li>
								<li><span>:</span><a href="mailto:example@mail.com">@Model.PersonalInformationDTO.Email</a></li>
							</ul>
						</li>
						<li>
							<ul class="agileits-address-text">
								<li class="agile-it-adress-left"><b>WEBSITE</b></li>
								<li><span>:</span><a href="#">@Model.PersonalInformationDTO.WebsiteAddress</a></li>
							</ul>
						</li>
					</ul>

				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="thim-click-to-bottom">
		<a href="#about" class="scroll">
			<i class="fa  fa-chevron-down"></i>
		</a>
	</div>

</div>


<!-- banner -->
<!-- /about -->

<div class="w3-about" id="about">
	<div class="container">
		<div class="w3-about-head">
			<h3>About me</h3>
		</div>
		<div class="w3-about-grids">
			<div class=" w3-about-grids1">
				<div class="col-md-6 w3-about-grid-left1">
					<img src=@Model.AboutMeDTO.Title1_img alt="img1">

				</div>
				<div class="col-md-6 w3-about-grid-right1">
					<h3>@Model.AboutMeDTO.Title1</h3>
					<p>@Model.AboutMeDTO.Description1</p>
					<h5>@Model.AboutMeDTO.subtitle1</h5>
					<div class="w3-about-grid-small-border">
					@for(int i=0;i<3;i++)
						{
							<div class="col-md-4 w3-about-grid-small">
								<h3 class="w3-head-project">@Model.AboutmeProject.ElementAt(i).Value </h3>
								<h5>@Model.AboutmeProject.ElementAt(i).Key</h5>
							</div>

						}
						
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="w3-about-grids2">
					<div class="col-md-6 w3-about-grid-left2">
						<h3>@Model.AboutMeDTO.Title2</h3>
						<p>@Model.AboutMeDTO.Description2 </p>
						<h4><a href="#">Readmore</a></h4>

					</div>
					<div class="col-md-6 w3-about-grid-right2">
						<img src=@Model.AboutMeDTO.Title2_img alt="img1">

					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //about  -->
<!--/ education -->
<div class="w3-edu-top" id="experiences">
	<div class="container">
		<div class="w3-edu-grids">
			<div class="col-md-6 w3-edu-grid-left">
				<div class="w3-edu-grid-header">
					<h3>Experiences</h3>
				</div>
				@foreach (var exp in Model.ExperiencesDTOList)
				{
					<div class="col-md-4 w3-edu-info1">
						<h3>@exp.EntryDateYear</h3>
						<h4>@exp.JobTitle</h4>
					</div>
					<div class="col-md-6 w3-edu-info2">
						<h3>@exp.Title</h3>
						<h4><i class="fa fa-users" aria-hidden="true"></i><span>@exp.position</span></h4>
						<p>@exp.Description</p>
					</div>
					<div class="clearfix"></div>
				}
				
				
			</div>


			<div class="col-md-6 w3-edu-grid-right">
				<div class="w3-edu-grid-header">
					<h3>Education</h3>
				</div>

				@foreach (var edu in Model.EducationsDTOList)
				{
					<div class="col-md-3 w3-edu-info-right1">
						<h3>@edu.EntryDateYear</h3>
					</div>
					<div class="col-md-9 w3-edu-info-right2">
						<h3>@edu.Title</h3>
						<h4>@edu.SubTitle</h4>
						<p>@edu.Description</p>
					</div>
					<div class="clearfix"></div>


				}
				
				
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //education -->
<!-- skills -->
<div class="skills" id="skills">
	<div class="container">
		<div class="title-w3ls">
			<h4>My Skills</h4>
		</div>
		<div class="skills-bar">
			<div class="col-md-6 w3-agile-skills-grid">
				<section class='bar'>
					<section class='wrap'>
						<div class='wrap_right'>
							<div class='bar_group'>
								@foreach (var sk in Model.MySkillsDTOGrade0List)
								{
									<div class='bar_group__bar thin' label=@sk.Name show_values='true' tooltip='true' value=@sk.Value></div>

								}
								
								
							</div>
						</div>
						<div class="clearfix"></div>
					</section>
				</section>
			</div>
			<div class="col-md-6 w3-agile-skills-grid">
				<section class='bar'>
					<section class='wrap'>
						<div class='wrap_right'>
							<div class='bar_group'>
								@foreach (var sk in Model.MySkillsDTOGrade1List)
								{
									<div class='bar_group__bar thin' label=@sk.Name show_values='true' tooltip='true' value=@sk.Value></div>
								}
								
								
							</div>
						</div>
						<div class="clearfix"></div>
					</section>
				</section>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //skills -->
<!-- main-content -->
<div class="main-content">
	<!-- gallery -->
	<div class="gallery" id="projects">
		<div class="w3-gallery-head">
			<h3>My projects</h3>
		</div>
		<div class="container">
			<div class="gallery_gds">
				<ul class="simplefilter ">
					<li class="active" data-filter="all">All</li>
					@for(int i =1;i<Model.AboutmeProject.Count+1;i++)
					{
						string dd = Model.AboutmeProject.ElementAt(i - 1).Key;

						<li data-filter=@i>@dd</li>
					}
					
					
					
				</ul>
				<div class="filtr-container " style="padding: 0px; position: relative; height: 858px;">
					@foreach (var proj in Model.ProjectsDTOList)
					{
						string data = "#" + proj.Name;
						string category="";

						@for (int i = 1; i < Model.AboutmeProject.Count + 1; i++)
						{

							if (proj.language == Model.AboutmeProject.ElementAt(i - 1).Key)
								category =i + ", " + (Model.AboutmeProject.Count + 2);
							
						}



						<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category=" 5" data-sort="Busy streets" style="opacity: 1; transform: scale(1) translate3d(0px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
								<div class="jm-item-wrapper">
									<div class="jm-item-image">
										<img src=@proj.img alt="property" />
										<span class="jm-item-overlay"> </span>
										<div class="jm-item-button"><a href="#" data-toggle="modal" data-target=@data >View Details</a></div>
									</div>

								</div>
							</div>

					}
					


					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!--//gallery-->
</div>
<!-- //main-content -->
@foreach (var projdetail in Model.ProjectsDTOList)
{
		<div class="modal fade" id=@projdetail.Name tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="w3ls-property-images">
					<img src=@projdetail.img alt="image">
				</div>

				<div class="ins-details">
					<div class="ins-name">
						<h3>@projdetail.Name</h3>
						<p>@projdetail.Description</p>

					</div>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>

}


<script src="HomeFiles/js/jquery.filterizr.js"></script>

<!-- Kick off Filterizr -->
<script type="text/javascript">
	$(function () {
		//Initialize filterizr with default options
		$('.filtr-container').filterizr();
	});
</script>

<!-- contact -->
<div class="contact" id="contact">
	<div class="container">
		<div class="w3ls-heading">
			<h3>Contact me</h3>
		</div>
		<div class="contact-w3ls">
			<form asp-action="Index" method="post">
				<div class="col-md-7 col-sm-7 contact-left agileits-w3layouts">
					<input type="text" asp-for="ContactMeDTO.Name" name="Name" placeholder="Name" required="">
					<input type="email" asp-for="ContactMeDTO.Email" class="email" name="Email" placeholder="Email" required="">
					<input type="text" asp-for="ContactMeDTO.PhoneNumber" name="PhoneNumber" placeholder="Mobile Number" required="">
					<!-- <input type="text" class="email" name="Last Name" placeholder="Last Name" required=""> -->
				</div>
				<div class="col-md-5 col-sm-5 contact-right agileits-w3layouts">
					<textarea name="Message" asp-for="ContactMeDTO.Message" placeholder="Message" required=""></textarea>
					<input type="submit" value="Submit">
				</div>
				<div class="clearfix"> </div>
			</form>
		</div>

	</div>
</div>
<!-- //contact -->
<!-- footer -->
<div class="w3l_footer">
	<div class="container">

		<div class="w3ls_footer_grids">

			<div class="w3ls_footer_grid">
				<div class="col-md-4 w3ls_footer_grid_left">
					<div class="w3ls_footer_grid_leftl">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
					</div>
					<div class="w3ls_footer_grid_leftr">
						<h4>Location</h4>
						<p>@Html.DisplayFor(m=> m.PersonalInformationDTO.Address)</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 w3ls_footer_grid_left">
					<div class="w3ls_footer_grid_leftl">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</div>
					<div class="w3ls_footer_grid_leftr">
						<h4>Email</h4>
						<a href="mailto:info@example.com">@Html.DisplayFor(m=> m.PersonalInformationDTO.Email)</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 w3ls_footer_grid_left">
					<div class="w3ls_footer_grid_leftl">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</div>
					<div class="w3ls_footer_grid_leftr">
						<h4>Call Me</h4>
						<p>@Html.DisplayFor(m => m.PersonalInformationDTO.Phone)</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="w3l_footer_pos">
		<p>© 2023 AI-CO. All Rights Reserved | Design by <a href="https://abolfazl-is.ir/">Abolfazl Islami</a></p>
	</div>
</div>
<!-- //footer -->
<script src="HomeFiles/js/bars.js"></script>
<!-- start-smoth-scrolling -->
<script src="HomeFiles/js/SmoothScroll.min.js"></script>
<!-- text-effect -->
<script type="text/javascript" src="HomeFiles/js/jquery.transit.js"></script>
<script type="text/javascript" src="HomeFiles/js/jquery.textFx.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$('.test').textFx({
			type: 'fadeIn',
			iChar: 100,
			iAnim: 1000
		});
	});
</script>
<!-- //text-effect -->
<!-- menu-js -->
<script src="HomeFiles/js/modernizr.js"></script>
<script src="HomeFiles/js/menu.js"></script>
<!-- //menu-js -->


<script type="text/javascript" src="HomeFiles/js/move-top.js"></script>

<script type="text/javascript" src="HomeFiles/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<script type="text/javascript">
	$(document).ready(function () {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
			};
		*/

		$().UItoTop({ easingType: 'easeOutQuart' });

	});
</script>





