@model Resume.Application.DTOs.Admin.AboutMeAdminDTO




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title1_img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title2_img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subtitle1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Title1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Title2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Title1_img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Title2_img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Description1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Description2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.subtitle1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  /*id=Model.ID*/  }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>

    </tbody>
</table>

        